<div class="card border-primary mb-3" >
  <div class="card-header">Productos</div>
  <div class="card-body text-primary">
  <div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/productos/form']">Crear Producto</button>
  </div>
  <table class="table table-border table-table-striped">
    <thead>
      <tr>
        <th>id</th>
          <th>nombre</th>
            <th>precio</th>
              <th>
                  Editar
                  </th>
                    <th>
                      Eliminar
                      </th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{producto.id}}</td>
      <td>{{producto.nombre}}</td>
      <td>{{producto.precio}}</td>

      <td>
        <button type="button" name="editar" [routerLink]="['/productos/form', producto.id]" class="btn btn-primary btn-sm">editar</button>
      </td>
      <td>
        <button type="button" name="eliminar" (click)= 'delete(productos)' class="btn btn-danger btn-sm">eliminar</button>
      </td>
    </tr>
  </tbody>
  </table>

  </div>
</div>
